!!!5
%html{class:"no-js", lang:"es"}
  %head
    %meta{charset:"utf-8"}
    %title La mejor comida de la ciudad
    %meta{name:"description", content:"Come rico y barato en el mejor restaurante de la ciudad"}
    %link{href:"https://fonts.googleapis.com/css?family=Dancing+Script",rel:"stylesheet", type:"text/css"}
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css"}
    %link{rel:"stylesheet", href:"css/style.css"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
    %script{src:"js/vendor/modernizr.min.js"}
  %body
    ="<!--[if lt IE 9]>"
    %p{class:"browserupgrade"}
      Estás usando un navegador
      %strong desactualizado.
      Por favor
      %a{href:"http://browsehappy.com/"}
        actualiza tu navegador para una mejor experiencia.
    ="<![endif]-->"
    .video-container
      %video{autoplay:true, loop:true, width:"1280", height:"720", poster:"/videos/poster/out-camping.jpg"}
        %source{src:"/videos/mp4/out-camping.mp4", typ:"video/mp4"}
        %source{src:"/videos/webm/out-camping.webm", typ:"video/webm"}
    .row.full-height.middle-xs.center-xs.relative.up
      .col-xs-12
        .box.white-text
          %image{src:"/imgs/logo.png", width:200}
          %h1.dancing-script.title.no-margin  My Restorant
          %p#is-open Abierto ahora