!!!5
%html{class:"no-js", lang:"es"} 
  %head
    %meta{charset:"utf-8"}
    %title La mejor comida de la ciudad
    %link{rel:"stylesheet", href:"style.css"}
    %meta{name:"description", content:"Come rico y barato en el mejor restaurante de la ciudad"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
  %body
    %p#message problemas con internet?. No hay problema, aquí está la información que necesitas.
  .container
    %h1 My Restaurant
    %p
      %strong Dirección
    %p
      %strong Horario
      15:00hrs - 23:00hrs
    %p
      %strong Teléfono
      02-12345678
    #map
      %img{src:"/offline/map.jpg"}
      %p Mapa de referencia.